<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horta Escolar</title>
    <link rel="icon" href="../Static/Image/planta_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
 
    <nav class="navbar navbar-dark bg-green">
        <a class="navbar-brand" href="#">Horta Escolar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Equipe</a>
            </li> -->
          </ul>
        </div>
      </nav>

    <!-- Main Content -->
    <section class="main-content container">
      <br>
      <a type="button" href="index.html" class="btn btn-outline-dark">Voltar</a>
      <br>
      <br>
      <h2>Escolas Disponíveis</h2>
      <table class="table">
          <thead>
              <tr>
                  <th>Nome da Escola</th>
                  <th>Qtd variedades</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><a type="button" href="armindo.html" class="btn btn-primary">Armindo Guarana</a></td>
                  <td>5</td> <!-- Exemplo de quantidade -->
              </tr>
              <tr>
                  <td><a type="button" href="#" id="neyde" class="btn btn-primary">Neyde Mesquita</a></td>
                  <td>0</td> <!-- Exemplo de quantidade -->
              </tr>
          </tbody>
      </table>
    </section>
    <script src="../Static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.getElementById("neyde").addEventListener("click", function() {
          Swal.fire({
              title: "Oooops!",
              text: "Está escola não tem nenhuma variedade disponivel no momento.",
              icon: "error"
          });
      });
  </script>
</body>
</html>
