<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horta Escolar</title>
    <link rel="icon" href="../Static/Image/planta_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-green">
        <a class="navbar-brand" href="#">Horta Escolar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="horta_digital.html">Escola Disponivel</a>
            </li>
          </ul>
        </div>
      </nav>
    <br>
    
    <section class="main-content container">
      <strong><h2>Notícia em destaque:</h2></strong>
      Problemas de infraestrutura nas escolas afetam pelo menos <strong><span style="color: red;">14.7</span></strong> milhões de estudantes. 
      <br><strong><span style="font-size: 0.9em;">Fonte: Atricon, 6 de junho de 2022.</span></strong>
  </section>

    <!-- Carrossel Bootstrap -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../Static/Image/img1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Static/Image/im2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Static/Image/im3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- Main Content -->
    <section class="main-content container">
        <br>
        <h3>Acesse nossas escolas!</h3>
        <a type="button" href="horta_digital.html" class="btn btn-outline-info">Escolas Disponíveis</a>
        <br>
        <br>
        <h2>Sobre o Projeto</h2>
        <p>
          A ideia é criar o "Horta Escola", um site voltado para promover sustentabilidade, empreendedorismo e agronegócio entre os estudantes. Nesse projeto, os alunos cultivariam hortaliças na escola com o apoio dos professores e venderiam os produtos por meio do site, oferecendo-os tanto para outros alunos quanto para moradores da comunidade local.
        </p>
        <p>
          A verba arrecadada com as vendas seria destinada a melhorias na escola e atividades educacionais, como viagens de enriquecimento pedagógico. Além disso, o espaço da horta serviria como um campo de estágio para estudantes de cursos como agronegócio, biologia, empreendedorismo e economia,
          promovendo uma experiência prática que integra aprendizado, sustentabilidade e desenvolvimento comunitário.
        </p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const Toast = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
              didOpen: (toast) => {
                  toast.onmouseenter = Swal.stopTimer;
                  toast.onmouseleave = Swal.resumeTimer;
              }
          });

          Toast.fire({
              icon: "success",
              title: "Bem vindo!"
          });
      });
    </script>
</body>
</html>
