<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horta Escolar</title>
    <link rel="icon" href="../Static/Image/planta_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-green">
        <a class="navbar-brand" href="#">Horta Escolar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="horta_digital.html">Horta Digital</a>
            </li>
          </ul>
        </div>
      </nav>
    <br>

    <!-- Carrossel Bootstrap -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../Static/Image/img1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Static/Image/im2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../Static/Image/im3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- Main Content -->
    <section class="main-content container">
        <h2>Sobre o Projeto</h2>
        <p>
            O projeto Horta Escolar visa incentivar a produção e consumo de alimentos saudáveis, frescos, cultivados de forma sustentável nas escolas. Acreditamos que com o Horta escolar alunos  com interesse em agronomia, empreendedorismo,
            economia e marketing possam desenvolver interesses acadêmicos no futuro.
        </p>
        <p>
            Através do projeto, os alunos têm a oportunidade de aprender sobre o cultivo de plantas, a importância da agricultura urbana e como podemos integrar isso ao nosso cotidiano de forma simples e eficaz.
        </p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
